{% extends "layout.html.twig" %}

{% block head %}
	<script type="text/javascript" src="js/main.js?v={{ version }}"></script>
	<script type="text/javascript" src="js/crypto.js?v={{ version }}"></script>
	<script type="text/javascript" src="js/window.js?v={{ version }}"></script>
	<script type="text/javascript" src="js/strings.js?v={{ version }}"></script>
{% endblock %}

{% block content %}
<span id="preloadedImages">
	<img src="img/minus.svg">
	<img src="img/edit.svg">
</span>

<div id="divLoginContainer">
	<div id="divLogin" class="box">
		<img id="logo" src="img/logo.png">
		<h3 id="subtitle">{{ subtitle }}</h3>
		<div id="divLoginInfoBox" class="infobox invisible"></div>
		<div class="form">
			<div class="inputwithimg">
				<input type="text" id="txtUsername" name="username" placeholder="{{ "username"|trans }}" autofocus="true" value="">
			</div>
			<div class="inputwithimg">
				<input type="password" id="txtPassword" name="password" placeholder="{{ "password"|trans }}" value="">
			</div>
			<div class="inputwithimg">
				<input type="password" id="txtOldPassword" class="invisible" name="password" placeholder="{{ "old_password"|trans }}" value="">
			</div>
			<button id="btnLogin" class="primary">
				<span>{{ "log_in"|trans }}</span>
				<img class="loader" src="img/loader.svg">
			</button>
		</div>
	</div>
	<div id="footer">
		<a href="about">{{ "about"|trans }}</a>
	</div>
</div>

<div id="divVaultContainer" class="box opaquebox fullscreen invisible">
	<div id="divVaultTitlebar" class="titlebar">
		<input id="txtSearch" type="text" placeholder="{{ "search..."|trans }}">
		<span></span>
		<button id="btnNewPassword" title="{{ "new_entry"|trans }}"><img src="img/add.svg"></button>
		<button id="btnNewGroup" title="{{ "new_group"|trans }}"><img src="img/folder_new.svg"></button>
		<button id="btnUserGroups" title="{{ "user_group_management"|trans }}"><img src="img/group.svg"></button>
		<button id="btnReload" title="{{ "reload"|trans }}"><img id="imgReload" src="img/reload.svg"></button>
		<button id="btnLogout" title="{{ "log_out"|trans }}"><img src="img/logout.svg"></button>
	</div>
	<div id="divVault" class="box">
		<div id="entries">
			<ul id="ulEntriesTree">
			</ul>
		</div>
	</div>
</div>

<div id="divGroupTemplateContainer" class="childWindow box opaquebox fullscreen invisible">
	<div class="titlebar">
		<button class="btnContents" title="{{ "contents"|trans }}"><img src="img/list.svg"></button>
		<button class="btnShare" title="{{ "share"|trans }}"><img src="img/group.svg"></button>
		<span></span>
		<button class="btnDelete" title="{{ "delete"|trans }}"><img src="img/trash.svg"></button>
		<button class="btnSave" title="{{ "save"|trans }}"><img src="img/tick.svg"></button>
		<button class="btnClose" title="{{ "close"|trans }}"><img src="img/close.svg"></button>
	</div>
	<div class="contents box">
		<table class="inputtable">
			<tr>
				<th>{{ "title"|trans }}</th>
				<td>
					<input type="text" name="txtTitle" value="">
				</td>
			</tr>
			<tr>
				<th>{{ "parent_group"|trans }}</th>
				<td>
					<select name="sltGroup">
						<option value="-">-</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="share box invisible">
		<table class="inputtable shares">
			<tr>
				<th>{{ "add_user"|trans }}</th>
				<td>
					<select name="sltShareUser">
					</select>
				</td>
				<td>
					<button class="btnAddUserShare"><img src="img/add.svg"></button>
				</td>
			</tr>
			<tr>
				<th>{{ "add_group"|trans }}</th>
				<td>
					<select name="sltShareUserGroup">
					</select>
				</td>
				<td>
					<button class="btnAddUserGroupShare"><img src="img/add.svg"></button>
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr/></td>
			</tr>
		</table>
	</div>
</div>

<div id="divPasswordTemplateContainer" class="childWindow box opaquebox fullscreen invisible">
	<div class="titlebar">
		<button class="btnContents" title="{{ "contents"|trans }}"><img src="img/list.svg"></button>
		<button class="btnShare" title="{{ "share"|trans }}"><img src="img/group.svg"></button>
		<span></span>
		<button class="btnDelete" title="{{ "delete"|trans }}"><img src="img/trash.svg"></button>
		<button class="btnSave" title="{{ "save"|trans }}"><img src="img/tick.svg"></button>
		<button class="btnClose" title="{{ "close"|trans }}"><img src="img/close.svg"></button>
	</div>
	<div class="contents box">
		<input type="hidden" name="txtRevision">
		<table class="inputtable">
			<tr>
				<th>{{ "group"|trans }}</th>
				<td>
					<select name="sltGroup">
						<option value="-">-</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>{{ "title"|trans }}</th>
				<td>
					<input type="text" name="txtTitle" autocomplete="new-password">
				</td>
			</tr>
			<tr>
				<th>{{ "username"|trans }}</th>
				<td>
					<div class="with1button">
						<input type="text" name="txtUsername" autocomplete="new-password">
						<button class="btnCopyUsername" title="{{ "copy_to_clipboard"|trans }}"><img src="img/clipboard.svg"></button>
					</div>
				</td>
			</tr>
			<tr>
				<th>{{ "password"|trans }}</th>
				<td>
					<div class="with3button">
						<input type="password" name="txtPassword" autocomplete="new-password">
						<button class="btnShowHidePassword" title="{{ "show_hide_password"|trans }}"><img src="img/eye.svg"></button>
						<button class="btnGeneratePassword" title="{{ "generate_password"|trans }}"><img src="img/generator.svg"></button>
						<button class="btnCopyPassword" title="{{ "copy_to_clipboard"|trans }}"><img src="img/clipboard.svg"></button>
					</div>
				</td>
			</tr>
			<tr>
				<th>{{ "url"|trans }}</th>
				<td>
					<input type="text" name="txtUrl" autocomplete="new-password">
				</td>
			</tr>
			<tr>
				<th>{{ "description"|trans }}</th>
				<td>
					<textarea name="txtDescription"></textarea>
				</td>
			</tr>
		</table>
	</div>
	<div class="share box invisible">
		<table class="inputtable shares">
			<tr>
				<th>{{ "add_user"|trans }}</th>
				<td>
					<select name="sltShareUser">
					</select>
				</td>
				<td>
					<button class="btnAddUserShare"><img src="img/add.svg"></button>
				</td>
			</tr>
			<tr>
				<th>{{ "add_group"|trans }}</th>
				<td>
					<select name="sltShareUserGroup">
					</select>
				</td>
				<td>
					<button class="btnAddUserGroupShare"><img src="img/add.svg"></button>
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr/></td>
			</tr>
		</table>
	</div>
</div>

<div id="divUserGroupsContainer" class="childWindow box opaquebox fullscreen invisible">
	<div class="titlebar">
		<button class="btnAdd" title="{{ "new_group"|trans }}"><img src="img/add.svg"></button>
		<button class="btnClose" title="{{ "close"|trans }}"><img src="img/close.svg"></button>
	</div>
	<div class="usergroups box">
		<table class="inputtable actionbtn groups">
		</table>
	</div>
</div>

<div id="divUserGroupTemplateContainer" class="childWindow box opaquebox fullscreen invisible">
	<div class="titlebar">
		<button class="btnDelete" title="{{ "delete"|trans }}"><img src="img/trash.svg"></button>
		<button class="btnSave" title="{{ "save"|trans }}"><img src="img/tick.svg"></button>
		<button class="btnClose" title="{{ "close"|trans }}"><img src="img/close.svg"></button>
	</div>
	<div class="usergroups box">
		<table class="inputtable members">
			<tr>
				<th>{{ "title"|trans }}</th>
				<td colspan="2">
					<input type="text" name="txtTitle">
				</td>
			</tr>
			<tr>
				<th>{{ "add_user"|trans }}</th>
				<td>
					<select name="sltGroupUser">
					</select>
				</td>
				<td>
					<button class="btnAddGroupUser"><img src="img/add.svg"></button>
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr/></td>
			</tr>
		</table>
	</div>
</div>

<div id="divPasswordGeneratorTemplateContainer" class="childWindow box opaquebox fullscreen invisible">
	<div class="titlebar">
		<button class="btnApply" title="{{ "apply"|trans }}"><img src="img/tick.svg"></button>
		<button class="btnClose" title="{{ "close"|trans }}"><img src="img/close.svg"></button>
	</div>
	<div class="usergroups box">
		<table class="inputtable members">
			<tr>
				<th>{{ "char_count"|trans }}</th>
				<td>
					<input type="number" name="txtCharCount" min="1" max="99">
				</td>
			</tr>
			<tr>
				<th>{{ "charset"|trans }}</th>
				<td>
					<input type="text" name="txtCharset">
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<button class="btnGeneratePassword"><img class="inline" src="img/generator.svg">&nbsp;{{ "generate_password"|trans }}</button>
				</td>
			</hr>
			<tr>
				<th>{{ "generated_password"|trans }}</th>
				<td>
					<input type="text" name="txtGeneratedPassword" readonly="true">
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
