{% extends "layout.html.twig" %}

{% block content %}
	{% if entry %}
	<table class="inputtable">
		<tr>
			<th>{{ "Group"|trans }}:&nbsp;</th>
			<td>{%if entry.group == "" %}{{ "No group"|trans }}{% else %}{{ entry.group }}{% endif %}</td>
		</tr>
		<tr>
			<th>{{ 'URL to service'|trans }}:&nbsp;</th>
			<td><a target="_blank" href="{{ entry.url }}">{{ entry.url|short }}</a></td>
		</tr>
		<tr>
			<th>{{ 'Username'|trans }}:&nbsp;</th>
			<td>
				<div class="input">
					<input type="text" id="username" name="username" class="invisible" value="{{ entry.username }}" readonly="true"><!--
					--><button type="button" title='{{ "copy username to clipboard"|trans }}' onclick='toClipboard("username");'>&#9997;</button>
				</div>
			</td>
		</tr>
		<tr>
			<th>{{ 'Password'|trans }}:&nbsp;</th>
			<td>
				<div class="input">
					<input type="password" id="password" name="password" class="invisible" value="{{ entry.password }}" readonly="true"><!--
					--><button type="button" title='{{ "show or hide password"|trans }}' onclick='toggleView("password");'>&#9678;</button><!--
					--><button type="button" title='{{ "copy password to clipboard"|trans }}' onclick='toClipboard("password");'>&#9997;</button>
				</div>
			</td>
		</tr>
		<tr>
			<th>{{ 'Description'|trans }}:&nbsp;</th>
			<td><textarea name="description" class="invisible">{{ entry.description }}</textarea></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td colspan="100"><a href="editentry?{% if menu == "popup" %}popup=1&{% endif %}id={{ entry.id }}"><button autofocus="true">{{ 'Edit'|trans }}</button></a></td>
		</tr>
		<tr>
			<td colspan="100">
				<form method="POST" action="editentry?{% if menu == "popup" %}popup=1{% endif %}" onsubmit="return confirm('{{ 'Are you sure?'|trans }}');">
					<input type="hidden" name="remove" value="{{ entry.id }}">
					<input type="submit" value="{{ 'Remove'|trans }}">
				</form>
			</td>
		</tr>
	</table>
	{% else %}
	<div class="infobox red">{{ "Entry not found"|trans }}</div>
	{% endif %}
{% endblock %}
